* {
  margin: 0;
  padding: 0;
}

/* Abouts page, the whole page */
.Abouts {
  position: static;
  display: flex;
  flex-direction: column;
  background: rgb(231, 231, 231);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  /* This stops from excess width to show */
  overflow: hidden;
}

/* Holds second page */

.helloContainer{
  display:flex;
  justify-content: center;
  margin: 1em;
  height: 20vh;
}

.profileImg{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button {
  height: 200px;
}



#pImg {
  height: 13em;
  border-radius: 50px;
}




/* Image Container Page */




/* Container of hand icon and hello message */
#hello {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 2vh;
}

.handsWaveContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  left: -8vh;
  z-index: 0;
}

/* Hand Icon ID */
#hand {
  position: relative;
  height: 6vh;
  left: 2vh;
  transform: rotate(90deg);
  animation-name: wave-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transform-origin: 5% 200%;
}

/* container */
.gitLinkTwit {
  display: flex;
  justify-content: center;
  height: 11vh;
  left: 46%;
}

/* Moving each icons */
#gitH {
  position: relative;
  left: 0vh;
  top: 1.5vh;
}

#linked {
  position: relative;
  left: 30vh;
  top: 1.5vh;
}

/* animation */
.pageIcon {
  color: rgb(1, 2, 36);
  height: 8vh;
  /* border: solid 0px #555; */
  transition: all 0.5s ease;
  z-index: 1;
}

.pageIcon:hover {
  transform: scale(1.5);
  color: rgb(17, 19, 160);
}




.text {
  background-color: blue;
}


/* For Waving Animation */
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}