* {
  margin: 0;
  padding: 0;
}

.Abouts {
  background: rgb(231, 231, 231);
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  height: 100vh;
  /* This stops from excess width to show */
  overflow: hidden;
}

/* container */
.gitLinkTwit {
  display: flex;
  justify-content: center;
  height: 10%;
}

.pageIcon {
  height: 50%;
}

/* Class that handles all the GLT positiong and color */
.glt {
  margin: 10px;
  color: black;
  animation: spin 10s linear infinite;
  /*Set our animation play state to paused initially */
  animation-play-state: paused;
}

.glt:hover {
  color: rgb(5, 8, 174);
  animation-play-state: running;
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}


/* Line */
.line {
  position: relative;
  top: -2%;
  left: 40%;
  height: 2px;
  background: black;
  width: 20%;
}

/* Container of hand icon and hello message */
.handsWaveContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 11%;
}

/* Div. Setting the position of the item */
.hand {
  text-align: center;
}

/* Hand Icon ID */
#hand {
  position: relative;
  height: 6vh;
  left: 2vh;
  transform: rotate(90deg);
  animation-name: wave-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transform-origin: 5% 200%;
}

/* Card Table Animation */

.card {
  position: relative;
  top: 1%;
  left: 1%;
  padding: 42px 32px;
  clip-path: circle(5% at 95% 11%);
  transition: all ease-in-out .3s;
  background-color: #ffffff;
}

.card__infoicon {
  position: absolute;

  top: 10px;
  right: 28px;

  font-size: 1.4em;
  color: #000000;
  transition: ease-out .3s;
}

.card__title {
  margin: 0;

  font-size: 3em;
  line-height: 1.8;
}

.card__description {
  margin: 0;

  font-size: 1.1em;
  line-height: 1.6;
}

.card:hover {
  border-bottom-color: #0099ff;
}

.card:hover,
.card:focus {
  clip-path: circle(75%);
  border-radius: 20px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12),
    0px 3px 18px rgba(0, 0, 0, 0.08);
  background: #ffffff;

  outline: none;

}

.card:focus {
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12),
    0px 3px 18px rgba(0, 0, 0, 0.08),
    0px 0px 0px 4px rgba(0, 0, 0, 0.2);
}


/* For Waving Animation */
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}