* {
  margin: 0;
  padding: 0;
}

.Abouts {
  background: rgb(231, 231, 231);
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  height: 100vh;
  /* This stops from excess width to show */
  overflow: hidden;
}
/* Container of hand icon and hello message */
.handsWaveContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top:45%;
}
/* Div. Setting the position of the item */
.hand{
  text-align: center;
}
/* Hand Icon ID */
#hand {
  position: relative;
  height: 6vh;
  left: 2vh;
  transform: rotate(90deg);
  animation-name: wave-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transform-origin: 5% 200%;
}

#cplus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px;
  left: 10%;
  top: 6%;
  width: 10%;
  height: 8%;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color : white;
  background-color:rgb(0, 0, 0);
  border-radius: 20px;
}
#html {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px;
  left: 63%;
  top: -9%;
  width: 16%;
  height: 8%;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color : white;
  background-color:rgb(0, 0, 0);
  border-radius: 20px;
}
#cplus:hover, #html:hover{
  background-color: rgb(0, 3, 178);
}



/* For Waving Animation */

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
