* {
    /* No spaceing outside the elements for margin and padding*/
    margin: 0;
    /* background-color: black;  */
}

:root {
    /* size of the icons */
    --width: 8vh;
    --transition-speed: 1s;
  }
/* This does not affect the bounce effect */
.Background {
    position: relative;
    width:100%;
    /* vh = viewable screen height */
    height:100vh;
    background: #111;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    
}

.icons {
    color: rgba(84, 84, 84, 0.5);
    transition: 5s; 
    user-select: none;
    cursor: default;
    width: var(--width);
    height: var(--width);
}
/* Effects when hoverings */
.icons:hover {
    transition: 0s;
    color: rgb(0, 4, 255);
    text-shadow: 0 0 120px rgb(0, 17, 255);
    transform: scale(2);
}

/* Movement/Animation of Icons */

.x {
    --x-speed: 15s;
    animation: x var(--x-speed) linear infinite alternate;
} 
.x2 {
    --x-speed: 11s;
    animation: x var(--x-speed) linear infinite alternate-reverse;
} 
.x3 {
    --x-speed: 11s;
    animation: x var(--x-speed) linear infinite alternate;
} 
.x4 {
    --x-speed: 11s;
    animation: x var(--x-speed) linear infinite alternate-reverse;
} 
.x5 {
    --x-speed: 11s;
    animation: x var(--x-speed) linear infinite alternate;
} 
.x6 {
    --x-speed: 11s;
    animation: x var(--x-speed) linear infinite alternate;
} 
.x7 {
    --x-speed: 11s;
    animation: x var(--x-speed) linear infinite alternate;
} 
.x8 {
    --x-speed: 11s;
    animation: x var(--x-speed) linear infinite alternate;
} 
.x9 {
    --x-speed: 11s;
    animation: x var(--x-speed) linear infinite alternate;
} 
.x10 {
    --x-speed: 11s;
    animation: x var(--x-speed) linear infinite alternate;
} 
.x11 {
    --x-speed: 11s;
    animation: x var(--x-speed) linear infinite alternate;
} 
/* for VH the smaller the number the height boundary gets smaller */
/* In this case each icon will have different vh since their starting position is different */

#css {
    /* transform: rotate(30deg); */
    --y-speed: 14s;
    animation: y var(--y-speed) linear infinite alternate;
    /* CSS is set to 91vh */    
    transform: translateY(91vh); 
}   
#github {
    --y-speed: 13s;
    animation: y var(--y-speed) linear infinite alternate-reverse;
    position: relative;
    top: -100%;
    /* This is the code! vh is set to 91 for bouncing around the screen  91 is the number so far! */
    transform: translateY(90vh); 
}
#code {
    --y-speed: 9s;
    animation: y var(--y-speed) linear infinite alternate;
    position: relative;
    top: -200%;
    /* This is the code! vh is set to 91 for bouncing around the screen  91 is the number so far! */
    transform: translateY(93vh); 
}
#music {
    --y-speed: 4s;
    animation: y var(--y-speed) linear infinite alternate;
    position: relative;
    top: -300%;
    /* This is the code! vh is set to 91 for bouncing around the screen  91 is the number so far! */
    transform: translateY(93vh); 
}
#person {
    --y-speed: 7s;
    animation: y var(--y-speed) linear infinite alternate-reverse;
    position: relative;
    top: -400%;
    /* This is the code! vh is set to 91 for bouncing around the screen  91 is the number so far! */
    transform: translateY(92vh); 
}
#fish {
    --y-speed: 6s;
    animation: y var(--y-speed) linear infinite alternate;
    position: relative;
    top: -510%;
    /* This is the code! vh is set to 91 for bouncing around the screen  91 is the number so far! */
    transform: translateY(94vh); 
}
#python {
    --y-speed: 14s;
    animation: y var(--y-speed) linear infinite alternate;
    position: relative;
    top: -600%;
    /* This is the code! vh is set to 91 for bouncing around the screen  91 is the number so far! */
    transform: translateY(94vh); 
}
#rocket {
    --y-speed: 3s;
    animation: y var(--y-speed) linear infinite alternate;
    position: relative;
    top: -700%;
    /* This is the code! vh is set to 91 for bouncing around the screen  91 is the number so far! */
    transform: translateY(94vh); 
}
#brain {
    --y-speed: 6s;
    animation: y var(--y-speed) linear infinite alternate;
    position: relative;
    top: -800%;
    /* This is the code! vh is set to 91 for bouncing around the screen  91 is the number so far! */
    transform: translateY(92vh); 
}
#motorcycle {
    --y-speed: 8s;
    animation: y var(--y-speed) linear infinite alternate;
    position: relative;
    top: -910%;
    /* This is the code! vh is set to 91 for bouncing around the screen  91 is the number so far! */
    transform: translateY(94vh); 
}
#robot {
    --y-speed: 7s;
    animation: y var(--y-speed) linear infinite alternate;
    position: relative;
    top: -1000%;
    /* This is the code! vh is set to 91 for bouncing around the screen  91 is the number so far! */
    transform: translateY(94vh); 
}
#square-js {
    --y-speed: 19s;
    animation: y var(--y-speed) linear infinite alternate;
}
#java {
    --y-speed: 24s;
    animation: y var(--y-speed) linear infinite alternate;
}
#laptop-code {
    --y-speed: 16s;
    animation: y var(--y-speed) linear infinite alternate;
}
#stack-overflow {
    --y-speed: 12s;
    animation: y var(--y-speed) linear infinite alternate;
}
#html5 {
    --y-speed: 18s;
    animation: y var(--y-speed) linear infinite alternate;
}
#dumbbell {
    --y-speed: 11s;
    animation: y var(--y-speed) linear infinite alternate;
}
#react {
    --y-speed: 16s;
    animation: y var(--y-speed) linear infinite alternate;
}
#yin-yang {
    --y-speed: 16s;
    animation: y var(--y-speed) linear infinite alternate;
}
#dog {
    --y-speed: 12s;
    animation: y var(--y-speed) linear infinite alternate;
}
#cat {
    --y-speed: 13s;
    animation: y var(--y-speed) linear infinite alternate;
}
#earth-americas {
    --y-speed: 15s;
    animation: y var(--y-speed) linear infinite alternate;
}
#google {
    --y-speed: 16s;
    animation: y var(--y-speed) linear infinite alternate;
}

/* Key Frames */
@keyframes x {
    100% {
      transform: translateX(calc(100% - var(--width)));
    }
  }
@keyframes y {
    100% {
      transform: translateY(calc(100% - var(--width)));
    }
  }

