* {
    margin:0;
    padding:0;
}
.Projects {
    background: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width:100%;
    /* vh = viewable screen height */
    height:100vh;
}
#text {
    position: relative;
    top: 35vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px; 
    font-weight: bolder;
}
#lexical {
    position: relative;
    font-size: 30px; 
    top: 20vh;
    text-align: center;
}